[submodule "third_party/SDL"]
	path = third_party/SDL
	url = https://github.com/Admenri/SDL.git
	branch = main
[submodule "third_party/physfs"]
	path = third_party/physfs
	url = https://github.com/Admenri/physfs.git
	branch = main
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib.git
	branch = master
[submodule "third_party/vorbis"]
	path = third_party/vorbis
	url = https://github.com/xiph/vorbis.git
	branch = master
[submodule "third_party/ogg"]
	path = third_party/ogg
	url = https://github.com/xiph/ogg.git
	branch = master
[submodule "third_party/freetype"]
	path = third_party/freetype
	url = https://github.com/freetype/freetype.git
	branch = master